html, body {
    background-color: #000;
    padding: 0px;
    margin: 0px;
}

#content {
    position: absolute;
    padding: 0px;
    margin: auto;
    width: 800px;
    height: 600px;
}

#canvas {
    background-color: #fff;
    display: block;
    height: 600px;
}